.containerForm{
    border: 2px solid red;
    font-family: inter,  -apple-system,  sans-serif;
    height: 80px;
    padding: 0 5%;
    padding-bottom: 1%;
   
}
.logoValor{
    display: flex;
    border: 2px solid cyan;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 50px;
}
.containerValor{
    background-color: #ff0800;
    border-radius: 30px;
    width: fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
}
.userContainer{

    display: flex;
    width: fit-content;
    margin-left: 8%;
    padding: 2px;
    justify-content: center;
    align-items: center;

}
.userContainer img{
    height: 15px;
    width: 20px;
    margin-right: 4px;
}
.userContainer p{
    margin: 0;
}