p{
    margin: 0;
}
.containerForm{
    border-bottom: 1.5px solid rgb(199, 199, 199);
    font-family: inter,  -apple-system,  sans-serif;
    box-sizing: border-box;
    padding: 0 5%;
    min-width: 300px;
    position: fixed;
    top: 0;
    background-color: aliceblue;
    height: 100px;
    width: 100%;
    padding-bottom: 2%; 
    margin-bottom: 5px;
    z-index: 2;
    box-shadow: 4px 2px 8px rgba(63, 63, 63, 0.5);

}
.logoValor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 50px;
}
.containerValor{
    background-color: #ff0800;
    border-radius: 30px;
    width: fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
}
.userContainer{

    display: flex;
    width: fit-content;

    padding: 2px;
    justify-content: center;
    align-items: center;

}
.userContainer img{
    height: 15px;
    width: 20px;
    margin-right: 4px;
}

.pagoHoje{

    display: flex;
    align-items: center;
    width: fit-content;
}
.pagoHoje img{
    height: 20px;
    margin-right: 5px;
}
.informacoes{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.informacoes > *{
    margin: 5px;
}
.pessoas{
    display: flex;
    align-items: center;
}
.pessoas img{
    height: 16px;
    margin-right: 5px;
}
