.container{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    height: fit-content;
   
}
.content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inter,  -apple-system,  sans-serif;
    height: fit-content;
   
}
